button {
  background: hsl(278, 68%, 11%);
  border: none;
  padding: 1rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.box {
  width: 45%;
  display: flex;
}

.cards-section {
  width: 55%;
}

/* CARDS SECTION */

.cards-section {
  padding: 2rem;
}

.card-front,
.card-back {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  max-width: 28rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

/* CARD FRONT */

.card-front {
  color: hsl(270, 3%, 87%);
  letter-spacing: 2px;
  background-image: url("/bg-card-front.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.card-front::after {
  content: url("/card-logo.svg");
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.card-front h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 100%;
}

/* CARD BACK */

.card-back {
  background-image: url("/bg-card-back.png");
  margin-right: 2rem;
  margin-left: auto;
  margin-top: 2rem;
}

.card-back span {
  position: absolute;
  color: white;
  right: 3rem;
  top: 6.7rem;
}

/* FORM SECTION */

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 24rem;
  padding: 1rem;
  margin-left: 10%;
}

.form-section label {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.input {
  outline: none;
  background: hsl(0, 0%, 100%);
  padding: 0.8rem;
  color: hsl(278, 68%, 11%);
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 0.3rem;
  font-weight: bold;
  width: 100%;
  font-family: inherit;
  font-size: 0.9rem;
}

.input:focus {
  border: 1px solid hsl(278, 68%, 11%);
}

.input::placeholder {
  font-weight: 500;
  color: hsl(279, 6%, 55%);
}

.form-footer {
  display: flex;
  gap: 1rem;
}

.form-footer > div {
  width: 50%;
}

.form-footer .exp-date {
  display: flex;
  gap: 0.5rem;
}

/* SUCCESS SECTION */
.success-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
}

.success-section img {
  margin-bottom: 1rem;
}

.success-section h2 {
  font-weight: 500;
  letter-spacing: 2px;
}

.success-section p {
  color: hsl(279, 6%, 55%);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.success-section button {
  width: 100%;
}

@media screen and (max-width: 585px) {
  .card-front {
    left: 0 !important;
  }

  .card-back {
    right: 0 !important;
  }
}

@media screen and (max-width: 1010px) {
  .card-back {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1400px) {
  .card-front,
  .card-back {
    transform: scale(0.85);
  }
}
